body {
  background-color: grey;
  text-align: center;
  font-size: 2rem;
}

.smurfs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

.smurf {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: space-around;
  align-items: center;
  background-color: bisque;
  width: 20%;
  border-radius: 20px;
  margin: 2%;
  padding: 3%;
  height: 20vh;
  font-size: 1.2rem;
}
